@font-face {
    font-family: 'ionfont';
    src: 
    url(fonts/ionicons.woff),
    url(fonts/ionicons.ttf),
    url(fonts/ionicons.eot);
}

.login {
  font-family: 'ionfont';
  .instructions {
    margin: 50px 0;
    padding: 0 15px;
    font-family: 'ionfont';
   

  }


  }
