ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
.timeline {    
    padding: 1% 1% 2% 6%;    
    margin-left: 10%;
    border-left: 8px solid red;
}
.line-header{
    margin-left: 12%;
    margin-bottom: 4%;
}
#routeSearch{
   margin-left: 12%;
}

#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

#routes.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

#routes.circle {
  /*margin-top: -10px;*/
    top: 50%;
    left: -38px;
    width: 5px;
    height: 5px;
    background: #48b379;
    border: 4px solid #FDFDFD;
    border-radius: 50%;
    display: block;
    position: absolute;
}

#routes.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}

#routes.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

#routes.label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
}



/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }

  #routes.label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  #routes.content {
    padding-top: 45px;    
  }
  
  #routes.content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  #routes.circle, #routes.date {
    display: none;
  }
}

.ios .button-fab ion-icon {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-size: 2.8rem; }
  .ios [fab-center] {
    left: 50%;
    margin-left: -28px; }
  .ios [fab-top] {
    top: 16px; }
  .ios [fab-right] {
    right: 16px; }
  .ios [fab-bottom] {
    bottom: 16px; }
  .ios [fab-left] {
    left: 16px; }
  .ios [fab-fixed] {
    position: fixed; }

  .md .button-fab {
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1); }
    .md .button-fab.activated {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4), 0 4px 7px 0 rgba(0, 0, 0, 0.1); }

 .md .button-fab {
    position: absolute;
    width: 56px;
    height: 56px;
    line-height: 56px;
    min-width: 0;
    vertical-align: middle;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    font-size: 14px; }
    .md .button-fab ion-icon {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-size: 2.8rem; }
  .md [fab-center] {
    left: 50%;
    margin-left: -28px; }
  .md [fab-top] {
    top: 16px; }
  .md [fab-right] {
    right: 16px; }
  .md [fab-bottom] {
    bottom: 16px; }
  .md [fab-left] {
    left: 16px; }
  .md [fab-fixed] {
    position: fixed; }

.ios .button-fab {
    position: absolute;
    width: 56px;
    height: 56px;
    line-height: 56px;
    min-width: 0;
    vertical-align: middle;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    font-size: 14px; }
    .ios .button-fab ion-icon {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-size: 2.8rem; }
  .ios [fab-center] {
    left: 50%;
    margin-left: -28px; }
  .ios [fab-top] {
    top: 16px; }
  .ios [fab-right] {
    right: 16px; }
  .ios [fab-bottom] {
    bottom: 16px; }
  .ios [fab-left] {
    left: 16px; }
  .ios [fab-fixed] {
    position: fixed; }

    md .button-fab {
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1); }
    .md .button-fab.activated {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4), 0 4px 7px 0 rgba(0, 0, 0, 0.1); }
.md .button-fab {
    position: absolute;
    width: 56px;
    height: 56px;
    line-height: 56px;
    min-width: 0;
    vertical-align: middle;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    font-size: 14px; }
    .md .button-fab ion-icon {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-size: 2.8rem; }
  .md [fab-center] {
    left: 50%;
    margin-left: -28px; }
  .md [fab-top] {
    top: 16px; }
  .md [fab-right] {
    right: 16px; }
  .md [fab-bottom] {
    bottom: 16px; }
  .md [fab-left] {
    left: 16px; }
  .md [fab-fixed] {
    position: fixed; }
