<ion-view>  
  <ion-content class="login">



<div class="list card">

  <div class="item item-avatar">
    <div class="text-center instructions">
    <h1>Καλώς ήρθες Mobisense!</h1>
    <h2> Μια εφαρμογή για τις καθημερινές μετακινήσεις στην Αθήνα </h2>

    </div>
  </div>

  <div class="item item-image">
    <!-- <img src="ionic.png"> -->
  </div>

  


  <a class="item item-icon-left" href="#">
    <i class="ion-log-in"></i>
   <div class="text-center">
      <login-buttons></login-buttons>
    </div>
  </a>


   </div> 
  </ion-content>
</ion-view>