<ion-modal-view ng-controller="NewRatingCtrl">
  <ion-header-bar>
    <h1 class="title">New Rating</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="hideModal()">Cancel</button>
    </div>
  </ion-header-bar>
<ion-content>
    <label class="item item-input">
      <textarea placeholder="new message"
                ng-model="data.message"
                on-return="sendMessage(); closeKeyboard()"
                on-focus="inputUp()"
                on-blur="inputDown()"
                dir="auto">
      </textarea>
    </label>
  </ion-content>
</ion-modal-view>