<ion-modal-view ng-controller="NewMessageCtrl">
  <ion-header-bar>
    <h1 class="title">Νέο Μήνυμα</h1>
    
  </ion-header-bar>


 

  <ion-content>
    <label class="item item-input">
      <textarea 
                placeholder="Νέα δημοσίευση!"
                ng-model="data.message"
                on-return="sendMessage(); closeKeyboard()"
                on-focus="inputUp()"
                on-blur="inputDown()"
                dir="auto">
      </textarea>
    </label>


    <div class="row">
      <div class="col">
        <button ng-click="sendMessage()" class="button button-full button-balanced">
          Υποβολή
        </button>
      </div>
      <div class="col">
        <button ng-click="hideModal()" class="button button-full button-assertive">
          Ακύρωση
        </button>
      </div>
      </div>
  </ion-content>

</ion-modal-view>