<ion-modal-view ng-controller="NewGoodCtrl">
  <ion-header-bar>
    <h1 class="title">Νέα Αναφορά</h1>
    
  </ion-header-bar>

  <ion-content>
    <!-- grammh -->
    <div class="item item-input-inset">
      <ion-label><span ng-bind="routeOrStopLabel"></span></ion-label>
      <ion-label><span ng-bind="routeOrStopText"></span></ion-label>
    </div>  


    <div class="row">
    <a class="item item-avatar" href="#">
      <img src="https://cdn4.iconfinder.com/data/icons/ballicons-2-free/100/669347-watch-128.png"></a> 
        
      <!-- <div class="col"> -->
      
          <ion-radio ng-model="data.field" value="ήρθε στην ώρα του">Ήρθε στην ώρα του!</ion-radio>
      </div>
          
      <div class="row">
        <a class="item item-avatar" href="#">
          <img src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Bus-128.png"></a>
        <!-- <div class="col"> -->
        
           <ion-radio ng-model="data.field" value="εξυπηρετεί καλά τις περιοχές από όπου περνά">Εξυπηρετεί καλά τις περιοχές από όπου περνά</ion-radio>
    </div>
         
    
    <div class="row">
      <a class="item item-avatar" href="#">
           <img src="https://cdn3.iconfinder.com/data/icons/ballicons-reloaded-free/512/icon-59-128.png"> </a> 
      <!--<div class="col">-->
      
          <ion-radio ng-model="data.field" value="είχε καλό κλιματισμό">Είχε την κατάλληλη θερμοκρασία</ion-radio>
          </div>
          

    <div class="row">
      <a class="item item-avatar" href="#">
        <img src="https://cdn3.iconfinder.com/data/icons/social-icons-5/128/Like.png"></a>
      <!-- <div class="col">-->
           <ion-radio ng-model="data.field" value="ο οδηγός ήταν πολύ εξυπηρετικός">Ο οδηγός ήταν εξυπηρετικός</ion-radio>
          </div>
          
          
          <div class="row">
      <a class="item item-avatar" href="#">
          <img src="https://cdn2.iconfinder.com/data/icons/dellipack/128/people.png"></a>
      <!--<div class="col">-->
          <ion-radio ng-model="data.field" value="δεν υπήρχε συνοστισμός">Δεν υπήρχε συνοστισμός</ion-radio>
    </div>

     <div class="row">
      <a class="item item-avatar" href="#">
          <img src="https://cdn2.iconfinder.com/data/icons/domestic-and-commercial-cleaning-icon-set/128/sponge_2__.png"></a>
   <!-- <div class="col"> -->
          <ion-radio ng-model="data.field" value="ήταν πολύ καθαρό">Ήταν πολύ καθαρό</ion-radio>
    </div>



<!-- epilogh mesou 
  <label class="item item-input item-select">
    <div class="input-label">
      Μέσο:
    </div>
    <select ng-model="data.mean">
      <option selected>Μετρό</option>
      <option>Λεωφορείο</option>
      <option>Τραμ</option>
      <option>Προαστιακός</option>
    </select>
  </label>
-->
<!-- epilogh vathmologias -->

<div class="item range">
  <i class="icon ion-sad"></i>
  <input type="range" name="rating" ng-model="data.rating" min="0" max="5" value="3">
  <i class="icon ion-happy"></i>
</div>



<div class="row">
      <div class="col">
        <button ng-click="sendMessage()" class="button button-full button-balanced">
          Υποβολή
        </button>
      </div>
      <div class="col">
        <button ng-click="hideModal()" class="button button-full button-assertive">
          Ακύρωση
        </button>
      </div>
      </div>  

  </ion-content>
  
</ion-modal-view>


