<ion-modal-view ng-controller="NewGoodCtrl">
  <ion-header-bar>
    <h1 class="title">Νέα Αναφορά</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="hideModal()">Ακύρωση</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="row">
      <div class="col"><a class="item item-avatar" href="#">
          <img src="https://cdn4.iconfinder.com/data/icons/ballicons-2-free/100/669347-watch-128.png"> <button class="button button-clear button-positive" ng-click="timee(1)">
              Συνέπεια
          </button></a></div>
      <div class="col"><a class="item item-avatar" href="#">
          <img src="https://cdn2.iconfinder.com/data/icons/domestic-and-commercial-cleaning-icon-set/128/sponge_2__.png"> <button class="button button-clear button-positive" ng-click="clean(1)">
              Καθαριότητα
          </button></a> </div>
    </div>
      
    <div class="row">
      <div class="col"><a class="item item-avatar" href="#">
          <img src="https://cdn3.iconfinder.com/data/icons/ballicons-reloaded-free/512/icon-59-128.png"> <button class="button button-clear button-positive" ng-click="temperature(1)">
              Θερμοκρασία
          </button></a></div>
      <div class="col"><a class="item item-avatar" href="#">
          <img src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Bus-128.png"> <button class="button button-clear button-positive" ng-click="driver(1)">
              Οδηγός
          </button></a> </div>
    </div>
  </ion-content>
  
</ion-modal-view>


