<ion-view view-title="Στάσεις">
  <ion-content>
    <ul id='timeline'>
	  <li class='work'>    
	    <div class="relative">
	      <label for='work5'>Lorem ipsum dolor sit amet</label>
	      
	      <span class='circle'></span>
	    </div>
	    <div class='content'>
	      <p>        
	      </p>
	    </div>
	  </li> 
	  <li class='work'>    
	    <div class="relative">
	      <label for='work5'>Lorem ipsum dolor sisdft amet</label>
	      
	      <span class='circle'></span>
	    </div>
	    <div class='content'>
	      <p>        
	      </p>
	    </div>
	  </li>  
	</ul>
  </ion-content>
</ion-view>