<ion-view view-title="Διαδρομές">  
  
  <ion-nav-buttons side="left">
    <button ng-click="toggle_search_focus()" class="button button-clear button-positive button-icon ion-android-arrow-back" ng-show="search_focus"></button>
  </ion-nav-buttons>

  <ion-content scroll="false">
    <ion-scroll direction="y" style="width:100%;height:80%;overflow-y:scroll" delegate-handle="myScroll" scrollbar-y="true">
        <div class="list list-inset" ng-show="!search_focus">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="routeSearch" type="search" ng-model="search.text" placeholder="Search">
          </label>
        </div>      
        <div class="list" ng-show="!search_focus" style="width:100%;height:70%;">          
            <ion-item
                    ng-repeat="route in routes"                            
                    ng-click="toggle_search_focus(route.route_id)"
                    class="item-chat item-remove-animate item-avatar item-icon-right"
                    type="item-text-wrap">                    
                    <h2>{{route.route_short_name}} {{route.route_long_name}}</h2>
                    <p>Στάσεις: {{route.stopsNumber}}</p>
                    <i class="icon ion-chevron-right icon-accessory"></i> 
            </ion-item>          
        </div>

      <div id="stops" ng-show="search_focus">
        <div class="line-header">
          {{route.route_short_name}} {{route.route_long_name}} 
        </div>    
        <div
                ng-repeat="stop in stops"
                class="timeline"
                type="item-text-wrap"
                href="#">
          {{stop.stop_name}}
        </div>
      </div>
    </ion-scroll>
    <div class="row">
      <div class="col">
        <button ng-click="ShowModal1()" class="button button-full button-balanced">
          What's good
        </button>
      </div>
      <div class="col">
        <button ng-click="ShowModal2()" class="button button-full button-assertive">
          What's bad
        </button>
      </div>
      <div class="col">
        <button ng-click="ShowModal3()" class="button button-full button-positive">
          Help us improve
        </button>
      </div>
    </div>    
  </ion-content>

</ion-view>